table > * > tr > td:nth-child(3),
table > * > tr > td:nth-child(4) {
	position: relative;
	background: lightgrey;
	padding: 0;
}
table > * > tr > td:nth-child(3) > div,
table > * > tr > td:nth-child(4) > div {
	position: absolute;
	top: 0;
	height: 100%;
}
table > * > tr > td:nth-child(3) > div {
	right: 0;
	background: blue;
}
table > * > tr > td:nth-child(4) > div {
	left: 0;
	background: red;
}
