mat-header-cell.mat-column-buyShare,
mat-cell.mat-column-buyShare {
	margin-right: 10px;
}
mat-header-cell.mat-column-buyShare,
mat-cell.mat-column-buyShare {
	margin-left: 10px;
}

mat-header-cell.mat-column-buyShare,
mat-cell.mat-column-buyShare,
mat-header-cell.mat-column-sellPrice,
mat-cell.mat-column-sellPrice,
mat-header-cell.mat-column-sellVolume,
mat-cell.mat-column-sellVolume,
mat-header-cell.mat-column-sellCount,
mat-cell.mat-column-sellCount {
	text-align: right;
}
