<mat-toolbar>
<h1>{{title}}</h1>
</mat-toolbar>
<mat-tab-group>
	<mat-tab label="Brokers"><app-brokers-table></app-brokers-table></mat-tab>
	<mat-tab label="Chart"><app-candlestick-chart></app-candlestick-chart></mat-tab>
	<mat-tab label="Orders"><app-order-book></app-order-book></mat-tab>
	<mat-tab label="Prices"><app-prices-chart></app-prices-chart></mat-tab>
	<mat-tab label="Statistics"><app-intervall-information></app-intervall-information></mat-tab>
	<mat-tab label="Transactions"><app-transactions-table></app-transactions-table></mat-tab>
</mat-tab-group>
